<div>
    <div id="mensajes"></div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje...</label>
        <textarea class="form-control" id="texto" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <button type="submit" class="btn btn-warning">Enviar mensaje</button>
</div>